.mat-header-row
{
  background-color: darkblue;


}
.mat-header-cell
{
  color:white;
  font-weight: bold;
  margin-right: 5%;
}

.mat-table
{
  width:60%;
  margin-top: 2%;
  margin-left: 27%;
  font-size: large;
  font-weight: bold;

}

.mat-cell{
  color:mediumblue;
  font-weight: bold;
  margin-right: 2%;

}

.mat-paginator
{
  margin-right: 30%;
  color:mediumblue;
  font-weight: bold;
}


.mat-fab
{
  /*background-color: darkblue;
  color:white;
  font-weight: bold;
  margin-left: 20%;
*/
}
